/*Custom css for this ACME */

.acmeclass .header-style-4 .header-nav.navbar-collapse ul {
	float:right;	
}

.acmeclass .logo-header img{position:absolute; margin-top:-20px;}
.acmeclass .contact-info li:last-child{margin-top:20px !important;}
.acmeclass .logo-header{display:inherit !important}
.acmeclass .header-style-4 .mostion{display:none !important}
.acmeclass .contact-info li{margin-top:15px !important; }
.acmeclass .header-style-4.dark .contact-info span {color:#fff !important;}
.acmeclass .header-style-4 .social-line li a{color:#fff !important;}
.acmeclass .tnp-submit{margin-top:15px;}
.acmeclass .header-style-4 .is-fixed .mostion {display:block !important} 
.acmeclass .header-style-4 .is-fixed .mostion  img{margin-top:0px !important;} 
.acmeclass .is-fixed   .logo-header span{letter-spacing:normal !important}
.footer-top{clear: both}
.acmeclass .page-wraper{background: #fff !important}
.nd_learning_section{}
.acmeclass .nd_learning_section h3 {margin: 0px; font-size: 18px !important; padding-bottom: 10px;}
.acmeclass .nd_learning_section h3  a{color: #3d474a;}
.acmeclass .nd_learning_section p, .acmeclass .nd_learning_section p a{color:#767676 !important; font-family: 'Open Sans', sans-serif;}
.acmeclass .nd_learning_section.nd_learning_height_20, .acmeclass .nd_learning_tabs.nd_learning_section .nd_learning_section.nd_learning_height_30, .acmeclass .nd_learning_tabs.nd_learning_section .nd_learning_section.nd_learning_height_40{display:none}
.acmeclass .nd_learning_bg_green{background-color: #d8a409; padding: 10px 20px;	display: inline-block;	font-size: 14px; border-radius: 35px}
.acmeclass .nd_learning_border_1_solid_grey{border: 1px solid #eee}
.acmeclass .nd_learning_section h5{margin: 0px;}
#nd_learning_single_course_teachers{padding-top: 35px;}
.nd_learning_tabs ul{margin-bottom: 25px;}
.acmeclass .nd_learning_border_top_1_solid_grey.nd_learning_padding_40_20{border: 1px solid #eee; margin-top: 25px;}
.acmeclass .nd_options_color_grey{margin-bottom: 15px !important;}
.acmeclass .nd_learning_border_top_1_solid_grey.nd_learning_padding_40_20 a{margin-bottom: 20px;}
.acmeclass .nd_learning_border_top_1_solid_grey.nd_learning_padding_40_20 p{margin-bottom: 0px !important}
.acmeclass .nd_learning_width_33_percentage{margin-top: 20px;}
.acmeclass .nd_learning_width_33_percentage input.nd_learning_width_100_percentage{padding:10px 25px !important}
.acmeclass .site-button { background-color: #EFBB20 !important;}
.nd_learning_background_size_cover .nd_learning_display_inline_block p{ color: #fff !important}
.sjb-page .bootstrap-select .dropdown-toggle{border: 0px !important; height:auto !important}
.sjb-page .bootstrap-select .dropdown-toggle:hover, .sjb-page .bootstrap-select .dropdown-toggle:focus{border: 0px !important; color:#333}
.sjb-page .sjb-filters{overflow: visible !important}
.sjb-page .btn-primary, .sjb-page .btn-primary:hover, .sjb-page .btn-primary:active:hover, .sjb-page .btn-primary:active:focus, .sjb-page .sjb-detail .jobpost-form .file div, .sjb-page .sjb-detail .jobpost-form .file:hover div{background-color: #EFBB20 !important;}
.sjb-page .list-data .job-type, .sjb-page .list-data .job-location, .sjb-page .list-data .job-date{color: #029EB7 !important}
.sjb-page .list-data .job-description p{font-size: 14px !important;}
.sjb-pad-top{padding-top:80px;}
input#applicant-resume {border: 0px none !important; height: inherit; box-shadow: none; padding: 0px !important; }
#sjb-form-padding-button button{padding:12px 35px !important}
/* responive */
@media only screen and (max-width: 767px){
.acmeclass .logo-header span, .is-fixed .mobile-relative, .mobile-fixed{display:none !important}
.acmeclass .header-style-4 .mostion{display:block !important}	
.acmeclass .logo-header img{height:auto !important; padding-top:22px; max-width:150px !important}	
.mobile-relative{display:block;}
.acmeclass .header-style-4 .header-nav.navbar-collapse ul{float:none !important}
.is-fixed .mobile-fixed{display:block !important;}
.acmeclass .logo-header img.mobile-fixed{padding-top:6px;}
}